version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: laravel_app_image
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - .:/var/www
    depends_on:
      - mysql
    networks:
      - laravel

  nginx:
    image: nginx:stable-alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel #Added MYSQL_USER
      MYSQL_PASSWORD: secret #Added MYSQL_PASSWORD
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - laravel

  queue:
    image: laravel_app_image
    container_name: laravel_queue
    working_dir: /var/www
    volumes:
      - .:/var/www
    command: php artisan queue:work --tries=3 --sleep=3
    depends_on:
      - app
      - mysql
    networks:
      - laravel
  scheduler:
    image: laravel_app_image
    container_name: laravel_scheduler
    working_dir: /var/www
    volumes:
      - .:/var/www
    command: php artisan schedule:work
    depends_on:
      - app
      - mysql
    networks:
      - laravel

networks:
  laravel:

volumes:
  mysql_data:
